.Button {
  border: 0.125rem solid var(--color-black);
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
}

.Button.active,
.Button:hover {
  background-color: var(--color-black);
  color: var(--color-primary);
}
