.Button {
  border: 0.125rem solid var(--foreground-color);
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
}

.Button.material-symbols-outlined {
  font-size: 1.5rem;
}

.Button.active {
  background-color: var(--foreground-color);
  color: var(--background-color);
  cursor: default;
}

.Button:hover:not(.active) {
  text-decoration: underline;
}
