.Button.material-symbols-outlined {
  border: 0.125rem solid var(--foreground-color);
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.Button.disabled {
  background-color: var(--foreground-color);
  color: var(--background-color);
  cursor: default;
}

.Button:hover:not(.disabled) {
  background-color: var(--foreground-color);
  color: var(--background-color);
}
