.ReadView {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.ReadView h1 {
  font-size: 2rem;
}

.ReadView section {
  white-space: pre-wrap;
  overflow-y: auto;
}

.ReadView .clickable {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}

.ReadView .clickable:hover {
  background-color: var(--color-black);
  color: var(--color-primary);
}
