.ReadView {
  flex-grow: 1;
  overflow-y: auto;
}

.ReadView h1 {
  font-size: 2rem;
}

.ReadView p {
  margin-top: 1rem;
  white-space: pre-wrap;
}

.ReadView .clickable {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}
