.ReadView {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.ReadView pre {
  margin-top: 1rem;
}

.ReadView .clickable {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}
