.IndexView {
  flex-grow: 1;
  overflow-y: auto;
}

.IndexView .page {
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}

.IndexView .page:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
}
