@import url("https://fonts.googleapis.com/css?family=Nova+Mono");

:root {
  --color-cyan: #80ffff;
  --color-magenta: #ff80ff;
  --color-yellow: #ffff80;
  --color-black: #1a1a1a;
  font-size: min(3.75vw, 16px);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Nova Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-black);
}

.read-mode {
  --color-primary: var(--color-magenta);
}

.edit-mode {
  --color-primary: var(--color-yellow);
}

.index-mode {
  --color-primary: var(--color-cyan);
}

#root {
  width: calc(100vw - 2rem);
  min-width: 25rem;
  max-width: 60rem;
  height: calc(100dvh - 2rem);
  border: 0.125rem solid var(--color-black);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
