@import url("https://fonts.googleapis.com/css?family=Nova+Mono");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

:root {
  --foreground-color: hsl(0, 0%, 10%);
  font-size: min(3.75vw, 16px);
  line-height: 1.5;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Nova Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

.read-mode {
  --background-color: #99ccff;
}

.edit-mode {
  --background-color: #ccff99;
}

.index-mode {
  --background-color: #ff99cc;
}

#root {
  width: calc(100vw - 2rem);
  min-width: 25rem;
  max-width: 60rem;
  height: calc(100dvh - 2rem);
  border: 0.125rem solid var(--foreground-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
