:root {
  font-size: min(3.75vw, 16px);
  line-height: 1.5;
  --color-black: #1a1a1a;
  --color-white: #e6e6e6;
  --color-rose: #ff99cc;
  --color-azure: #99ccff;
  --color-chartreuse: #ccff99;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Nova Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--foreground-color);
  --overlay-color: color-mix(in srgb, var(--background-color) 75%, transparent);
}

.read-mode {
  --background-color: var(--color-azure);
  --foreground-color: var(--color-black);
}

.edit-mode {
  --background-color: var(var(--color-chartreuse));
  --foreground-color: var(--color-black);
}

.index-mode {
  --background-color: var(--color-rose);
  --foreground-color: var(--color-black);
}

.locked-mode {
  --background-color: var(--color-black);
  --foreground-color: var(--color-white);
}

#root {
  width: calc(100vw - 2rem);
  min-width: 25rem;
  max-width: 60rem;
  height: calc(100dvh - 2rem);
  border: 0.125rem solid var(--foreground-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
