.PasswordForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PasswordForm form {
  width: 100%;
  max-width: 20rem;
  display: flex;
  gap: 0.5rem;
}

.PasswordForm input {
  flex-grow: 1;
  outline: none;
  border: 0.125rem solid var(--foreground-color);
  border-radius: 0;
  padding: 0.5rem;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.PasswordForm input::placeholder {
  color: color-mix(in srgb, var(--foreground-color) 50%, transparent);
}
