.EditView {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.EditView input,
.EditView textarea {
  outline: none;
  border: 0;
  padding: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.EditView input::placeholder,
.EditView textarea::placeholder {
  color: color-mix(in srgb, var(--foreground-color) 50%, transparent);
}

.EditView input {
  font-size: 2rem;
  font-weight: bold;
}

.EditView textarea {
  resize: none;
  flex-grow: 1;
}

.EditView .controls {
  display: flex;
  gap: 0.5rem;
}

.EditView .controls > * {
  flex: 1 1 0;
}

.EditView .Modal .buttons {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.EditView .Modal .Button {
  width: 8rem;
}
