.EditView {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.EditView h1 {
  font-size: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.EditView textarea {
  resize: none;
  flex-grow: 1;
  outline: none;
  border: 0;
  padding: 0;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.EditView .controls {
  display: flex;
  gap: 0.5rem;
}

.EditView .controls > * {
  flex: 1 1 0;
}

.EditView .word-count {
  background-color: var(--foreground-color);
  color: var(--background-color);
  padding: 0.5rem;
  border: 0.125rem solid var(--foreground-color);
  user-select: none;
}
