.EditView {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.EditView h1 {
  font-size: 2rem;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.EditView textarea {
  resize: none;
  flex-grow: 1;
  outline: none;
  border: 0;
  padding: 0;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.EditView textarea::placeholder {
  color: color-mix(in srgb, var(--foreground-color) 50%, transparent);
}

.EditView .controls {
  display: flex;
  gap: 0.5rem;
}

.EditView .controls > * {
  flex: 1 1 0;
}

.EditView .word-count-container {
  border: 0.125rem solid var(--foreground-color);
  padding: 0.25rem 0.5rem;
  cursor: default;
  user-select: none;
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.EditView .word-count-container .label {
  font-size: 0.75rem;
}

.EditView .word-count-container .count {
  font-size: 1.25rem;
}

.EditView .Modal .buttons {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.EditView .Modal .Button {
  width: 8rem;
}
