@import url("https://fonts.googleapis.com/css?family=Nova+Mono");

:root {
  --color-red: #ff8080;
  --color-yellow: #ffff80;
  --color-green: #80ff80;
  --color-cyan: #80ffff;
  --color-blue: #8080ff;
  --color-magenta: #ff80ff;
  --color-black: #1a1a1a;
  --color-gray: #808080;
  --color-white: #e6e6e6;
  font-size: min(3.75vw, 16px);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-black);
  font-family: "Nova Mono", monospace;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
